@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/ProductSans/ttf/OpenSans-Regular.ttf") format("truetype"),
    url("../../fonts/ProductSans/woff2/AnyConv.com__OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/ProductSans/ttf/OpenSans-Bold.ttf") format("truetype"),
    url("../../fonts/ProductSans/woff2/AnyConv.com__OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
